@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DSEG7 Classic";
  src: url('/fonts/DSEG7Classic-Bold.ttf');
}

@font-face {
  font-family: "DSEG14 Classic";
  src: url('/fonts/DSEG14Classic-Bold.ttf');
}

@font-face {
  font-family: "DSEG Weather";
  src: url('/fonts/DSEGWeather.ttf');
}

html {
  width: 100%;
  height: 100%;
  font-family: 'DSEG7 Classic', sans-serif;
}
